# Data
data/raw/
data/processed/
data/output/

# Models
models/*.pkl
models/*.joblib

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
venv/
.venv/
env/

# MLflow
mlruns/
mlartifacts/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml
